@{
    Layout = "~/Views/Shared/_LayoutBook.cshtml";
}

<div class="container">
    <div class="row tools">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="name-page">Nhận thưởng</h4>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Quản lý </a>
                </li>
                <li class="breadcrumb-item active">
                    Nhận thưởng
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <ul class="nav nav-tabs tabs customtab">
                    <li class="tab active">
                        <a href="#" data-toggle="tab">Nhiệm vụ hàng ngày </a>
                    </li>
                    <li class="tab">
                        <a href="#" data-toggle="tab">Nhiệm vụ đơn </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-panel active" id="daily">
                        <div class="alert alert-info">
                            Nhệm vụ hàng ngày sẽ tự động làm mới vào 00:00 (GMT +7) hàng ngày. Đừng quên <strong>Nhận thưởng</strong> Các nhiệm vụ đã làm xong trước khi qua ngày mới. Một số nhiệm vụ chỉ có thể <strong>Nhận thưởng</strong>
                            trên APP
                        </div>
                        <div>
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Viết một đánh giá</strong>
                                            <p class="text-muted">
                                                <small>500 kẹo</small>
                                            </p>
                                        </td>
                                        <td width="100">
                                            <button class="btn btn-info btn-block btn-rounded" disabled>Chưa hoàn thành</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Đề cử hoa cho một truyện</strong>
                                            <p class="text-muted">
                                                <small>300 kẹo + 5 exp</small>
                                            </p>
                                        </td>
                                        <td width="100">
                                            <button class="btn btn-info btn-block btn-rounded" disabled>Chưa hoàn thành</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Check in</strong>
                                            <p class="text-muted">
                                                <small>500 kẹo + 3 exp</small>
                                            </p>
                                        </td>
                                        <td width="100">
                                            <button class="btn btn-info btn-block btn-rounded" disabled>Chưa hoàn thành</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Thả cảm xúc cho ba chương truyện</strong>
                                            <p class="text-muted">
                                                <small>3 exp</small>
                                            </p>
                                        </td>
                                        <td width="100">
                                            <button class="btn btn-info btn-block btn-rounded" disabled>Chưa hoàn thành</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Tặng quà cho tác giả hoặc dịch giả</strong>
                                            <p class="text-muted">
                                                <small>15 exp</small>
                                            </p>
                                        </td>
                                        <td width="100">
                                            <button class="btn btn-info btn-block btn-rounded" disabled>Chưa hoàn thành</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Xem video quảng cáo</strong>
                                            <p class="text-muted">
                                                <small>Kẹo ngẫu nhiên</small>
                                            </p>
                                        </td>
                                        <td width="100">
                                            <a class="btn btn-danger btn-block btn-rounded" href="#" target="_blank">Tải App</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>