body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #fff;
}

.header {
  margin-bottom: 20px;
}

a {
  color: #333 !important ;
  background-color: transparent;
}

a:hover {
  color: burlywood !important;
}

i {
  display: inline-block;
  margin-right: 0.4em;
}

.d-block {
  display: inline-block !important;
}

.top-nav {
  background-color: #f4f4f4;
}

.navbar-nav .ml-auto {
  float: right !important;
}

.main-content {
  width: 1170px;
  height: auto;
  margin: auto;
  padding: auto;
  border-radius: 5px;
}

.picture-btv img {
  display: inline-block;
  max-width: 100px;
  max-height: 150px;
  margin: 0px 10px 0px 0px;
}

.picture-detail img {
  display: inline-block;
  width: 210px;
  height: 280px;
  margin: 0px 10px 0px 0px;
}

.detail-content .col-3 {
  height: 300px;
}

.picture-search img {
  display: inline-block;
  max-width: 100px;
  height: 150px;
  margin: 0px 10px 0px 0px;
}

.content-btv-gt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 240px;
}

.content-ranking-gt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 700px;
}

.content-search-gt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 350px;
}

.content-category-gt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: small;
  width: 200px;
}

.content-btv-tg {
  display: inline-block;
  margin: 10px 0px 0px 0px;
}

.col-8 hr {
  width: 96%;
}

.search {
  border-radius: 5px;
  border-color: #ced4de !important;
}

.d-flex {
  display: flex;
}

.picture-reading img {
  max-width: 60px;
  max-height: 70px;
  margin: 0px 10px 0px 0px;
}

.picture-reading .shadow {
  height: 65px;
  width: 55px;
}

.ranking-week {
  height: 558px;
  width: 350px;
  padding: 16px 24px 20px 24px;
  box-shadow: #fff;
}

.list-group-item {
  width: 300px;
}

.main-content-search .row .col-6 {
  margin-top: 50px;
}

.main-ranking .col-4 {
  padding: 0px 0px 0px 0px;
}

.main-ranking {
  margin-top: 50px;
}

.shadow {
  border-radius: 8px;
}

.ranking-week-list-name {
  display: inline-block;
  text-overflow: ellipsis;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

#main-category .main-content .col-8 .row .col-6 {
  margin-bottom: 0px;
}

#main-category {
  margin-bottom: 300px;
}

.ribbon {
  width: 130px;
  height: 110px;
  position: relative;
  float: left;
  background: url(https://toplist.vn/images/800px/than-mo-ngo-bien-quan-77519.jpg);
  background-repeat: repeat;
  box-shadow: 0 0 5px 2px #282a2d;
  background-size: contain;
  text-transform: uppercase;
  color: white;
}

.ribbon1 {
  width: 35px;
  height: 42px;
  line-height: 40px;
  position: absolute;
  top: -4px;
  right: -10px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(0deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px rgb(209, 184, 41), 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: rgb(209, 184, 41);
  text-align: center;
}

.ribbon2 {
  width: 35px;
  height: 42px;
  line-height: 40px;
  position: absolute;
  top: -4px;
  right: -10px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(0deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px rgb(80, 209, 41), 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: rgb(80, 209, 41);
  text-align: center;
}

.ribbon3 {
  width: 35px;
  height: 42px;
  line-height: 40px;
  position: absolute;
  top: -4px;
  right: -10px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(0deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px rgb(41, 189, 209), 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: rgb(41, 189, 209);
  text-align: center;
}

.ribbon4 {
  width: 35px;
  height: 42px;
  line-height: 40px;
  position: absolute;
  top: -4px;
  right: -10px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(0deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px rgb(0, 0, 0), 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: rgb(0, 0, 0);
  text-align: center;
}

#detail-info-manager {
  background-color: antiquewhite;
  width: 250px;
  height: 700px;
  border-radius: 20px;
  float: right !important;
}

.detail-content .col-9 div {
  width: 830px;
}

.messi-circle img {
  width: 100px;
  height: 100px;
  margin: 20px 0px 10px 0px;
}

footer {
  margin: 40px 0px 0px 0px;
}
