@{
    Layout = "~/Views/Shared/_LayoutBook.cshtml";
}


<div>
    <div>
        <nav aria-label="breadcrumb">
            <section>
                <h2 style="font-size: 1.25rem; margin: 10px;">Đăng truyện sáng tác</h2>
            </section>
        </nav>

        <form>
            <div>
                <input type="hidden" value="2" name="kind">
                <div class="form-group">
                    <label class="col-sm-12">Ảnh bìa</label>
                    <div class="col-sm-12">
                        <label class="text-danger hidden" style="display: block" id="error-image-poster"></label>

                        <img>
                        </br>
                        <input class="file-image hidden" type="file" accept=".jpg,.png,.jpeg">
                        </br>
                        <span class="help-block"><small>Chấp nhận ảnh JPG, JPEG, nặng không quá 2MB.</small></span>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-sm-12 col-md-12 col-xl-12">
            <form>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="exampleFormControlInput1">Tên truyện</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tên Truyện">
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="exampleFormControlSelect1">Phân loại</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Truyện nam</option>
                        <option>Truyện nữ</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="exampleFormControlSelect2">Thể loại</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>Kỳ ảo</option>
                        <option>Huyền Huyễn</option>
                        <option>Võng Du</option>
                        <option>Tiên Hiệp</option>
                        <option>Lịch sử</option>
                    </select>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="exampleFormControlTextarea1">Giới thiệu</label>
                    <textarea class="form-control" id="exampleFormControlTextarea3" rows="5"
                              placeholder="Tối đa 4000 ký tự. Tóm tắt cho truyện không nên quá dài mà nên ngắn gọn, tập trung, thú vị. Phần này rất quan trọng vì nó quyết định độc giả có đọc hay không."></textarea>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <p>
                        <em>
                            Bên dưới là các Nhãn (tag) cho truyện, với mỗi loại nhãn, chỉ được chọn một giá trị, vui lòng xem và chọn Nhãn kỹ lưỡng. Nếu nhãn muốn thêm chưa có trong danh sách, vui lòng liên hệ quản trị viên ở
                            mục liên hệ.
                        </em>
                    </p>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="exampleFormControlSelect1">Nhãn</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Chọn một</option>
                        <optgroup label="Tính cách nhân vật">
                            <option value="1">Điềm Đạm</option>
                            <option value="2">Nhiệt Huyết</option>
                            <option value="3">Cơ Trí</option>
                        </optgroup>
                        <optgroup label="Bối cảnh thế giới">
                            <option value="4">Hiện Đại</option>
                            <option value="5">Lịch sử Thần Thoại</option>
                            <option value="6">Cổ Điển Tiên Hiệp</option>
                        </optgroup>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>