@{
    Layout = "~/Views/Shared/_LayoutBook.cshtml";
}


<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title" style="">Quản Lý Truyện</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb" style="background-color:rgb(252, 252, 252);">
                <li class="breadcrumb-item ml-auto"><a href="#" style="">Quản lý</a></li>
                <li class="breadcrumb-item active">Ta Thật Không Phải Là Tiên Nhị Đại</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div>
                    <nav>
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-dark m-1" href="~/Book/EditBook">Chỉnh Sửa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-dark m-1" href="~/Book/ChapterList">Danh Sách Chương</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-dark m-1" href="~/Book/CreateChapter">Thêm Chương</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-dark m-1" href="~/Book/statistic">Thống Kê</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 bg-content">
            <div class="white-box">
                <div class="form-group">
                    <label class="col-md-12">STT</label>
                    <div class="col-md-12">
                        <input type="number" class="form-control" name="index" id="chapterIndex" placeholder="1550" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">Tên chương</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="name" id="chapterName" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">Nội dung chương</label>
                    <div class="col-md-12" id="divAuto">
                        <div class="backdrop">
                            <div class="highlights"></div>
                        </div>
                        <textarea class="form-control" rows="5" id="autoMatches"
                                  placeholder="Bạn đang thêm chương cho truyện [[ Đạo Giới Thiên Hạ ]] Bạn có thể thêm nhiều chương cùng lúc nếu chọn cách đăng thường, xem kỹ hướng dẫn ở chỗ Cách đăng và làm theo. Một lần tối đa đăng được 50k từ (khoảng 20 chương)"
                                  name="content"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">Hẹn giờ</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control datetimepicker" value="24/09/2020 20:32:52" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12" id="btn-submit"><a class="btn btn-info btn-rounded pull-right float-right">Đăng chương</a></div>
                </div>


            </div>
        </div>
    </div>
</div>