@model TruyenOnl.Models.Chapter

@{
    Layout = "~/Views/Shared/_LayoutBook.cshtml";
}


<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title" style="">Quản Lý Truyện</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb" style="background-color:rgb(252, 252, 252);">
                <li class="breadcrumb-item ml-auto"><a href="#" style="">Quản lý</a></li>
                <li class="breadcrumb-item active">Ta Thật Không Phải Là Tiên Nhị Đại</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div>
                    <nav>
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-dark m-1" href="~/Book/EditBook">Chỉnh Sửa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-dark m-1" href="~/Book/ChapterList">Danh Sách Chương</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-dark m-1" href="~/Book/CreateChapter">Thêm Chương</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-dark m-1" href="~/Book/statistic">Thống Kê</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 bg-content">
            <form asp-action="CreateChapter">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="BookId" class="control-label">IdBook</label>
                    <input asp-for="BookId" class="form-control" asp-items="ViewBag.BookId" placeholder="Vui lòng điền ID trùng với ID sách"/>
                </div>
                <div class="form-group">
                    <label asp-for="STT" class="control-label"></label>
                    <input asp-for="STT" class="form-control" />
                    <span asp-validation-for="STT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên Chương</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label">Nội Dung</label>
                    <div class="col-md-12" id="divAuto">
                        <div class="backdrop">
                            <div class="highlights"></div>
                        </div>
                        <textarea asp-for="Content" class="form-control" rows="5" id="autoMatches"
                                  placeholder="Bạn đang thêm chương cho truyện [[ Đạo Giới Thiên Hạ ]] Bạn có thể thêm nhiều chương cùng lúc nếu chọn cách đăng thường, xem kỹ hướng dẫn ở chỗ Cách đăng và làm theo. Một lần tối đa đăng được 50k từ (khoảng 20 chương)"
                                  name="Content"></textarea>
                    </div>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateCreated" class="control-label">Ngày Tạo</label>
                    <input asp-for="DateCreated" class="form-control" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng Chương" class="btn btn-info btn-rounded pull-right float-right" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}