@{
    Layout = "~/Views/Shared/_LayoutBook.cshtml";
}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title" style="">Quản Lý Truyện</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb" style="background-color:rgb(252, 252, 252);">
                <li class="breadcrumb-item ml-auto"><a href="https://pub.truyen.onl" style="">Quản lý</a></li>
                <li class="breadcrumb-item active">Danh sách truyện</li>
            </ol>
        </div>
    </div>

    <div>
        <div class="col-sm-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hóa đơn</th>
                                <th>Số tiền</th>
                                <th>Ngày thanh toán</th>
                                <th>Tình trạng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> KPSJJHDJ001</td>
                                <td>1.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                            <tr>
                                <td> KPSJJHDJ001</td>
                                <td>1.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                            <tr>
                                <td> KPSJJHDJ001</td>
                                <td>1.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                            <tr>
                                <td> KPSJJHDJ001</td>
                                <td>1.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                            <tr>
                                <td> KPSJJHDJ001</td>
                                <td>1.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                            <tr>
                                <td> KPSJJHDJ002</td>
                                <td>3.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                            <tr>
                                <td> KPSJJHDJ003</td>
                                <td>4.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                            <tr>
                                <td> KPSJJHDJ004</td>
                                <td>2.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                            <tr>
                                <td> KPSJJHDJ005</td>
                                <td>7.000.000</td>
                                <td>27/09/2020</td>
                                <td>Thành công</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>