@model IEnumerable<TruyenOnl.Data.Entities.Book>

@{
    Layout = "~/Views/Shared/_LayoutBook.cshtml";
}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title" style="">Quản Lý Truyện</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb" style="background-color:rgb(252, 252, 252);">
                <li class="breadcrumb-item ml-auto"><a href="~/Book/EditBook" style="">Quản lý</a></li>
                <li class="breadcrumb-item active">Danh sách truyện</li>
            </ol>
        </div>
    </div>

    <div class="col-sm-12 bg-content">
        <div class="white-box">
            <ul class="nav nav-tabs d-flex justify-content-center">
                <li class="active" style="margin-right: 30px;">
                    <a href="#ongoing" data-toggle="tab">
                        <span>Đang ra (3)</span>
                    </a>
                </li>
                <li>
                    <a href="#complete" data-toggle="tab" style="margin-right: 30px;">
                        <span>Hoàn thành (11)</span>
                    </a>
                </li>
                <li>
                    <a href="#waiting" data-toggle="tab" style="margin-right: 30px;">
                        <span>Chờ xuất bản (0)</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="ongoing">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Truyện</th>
                                    <th>Chương mới nhất</th>
                                    <th width="200">Thao tác</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="~/Book/ChapterList/@item.Id" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                                            <p class="small">@Html.DisplayFor(modelItem => item.Author)</p>
                                        </td>
                                        <td>
                                            <a href="~/Book/ChapterList/@item.Id">Chương 594: Cốt Thi Vương...</a>
                                            <p class="small">@Html.DisplayFor(modelItem => item.DateCreated)</p>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-circle btn-md m-r-5" data-toggle="tooltip">
                                                <a href="~/Book/ChapterList/@item.Id" target="_blank">T</a>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-circle btn-md m-r-5" data-toggle="tooltip">
                                                <a href="~/Book/ChapterList/@item.Id" target="_blank">S</a>
                                            </button>
                                            <button type="button" class="btn btn-info btn-circle btn-md m-r-5" data-toggle="tooltip">
                                                <a href="~/Book/ChapterList/@item.Id" target="_blank">X</a>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane " id="complete">
                    <div class="table-responsive">
                        <table class="table table-hover manage-u-table">
                            <thead>
                                <tr>
                                    <th>Truyện</th>
                                    <th>Chương mới nhất</th>
                                    <th width="200">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#" target="_blank">Ta Thật Không Phải Là Tiên Nhị Đại Ta Thật Không Phải Là Tiên Nhị Đại</a>
                                        <p class="small">Minh Nguyệt Địa Thượng Sương</p>
                                    </td>
                                    <td>
                                        <a href="#">Chương 594: Cốt Thi Vương...</a>
                                        <p class="small">2020-09-23 21:10:01</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">T</a>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">S</a>
                                        </button>
                                        <button type="button" class="btn btn-info btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">X</a>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" target="_blank">Ta Thật Không Phải Là Tiên Nhị Đại Ta Thật Không Phải Là Tiên Nhị Đại</a>
                                        <p class="small">Minh Nguyệt Địa Thượng Sương</p>
                                    </td>
                                    <td>
                                        <a href="#">Chương 594: Cốt Thi Vương...</a>
                                        <p class="small">2020-09-23 21:10:01</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">T</a>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">S</a>
                                        </button>
                                        <button type="button" class="btn btn-info btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">X</a>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" target="_blank">Ta Thật Không Phải Là Tiên Nhị Đại Ta Thật Không Phải Là Tiên Nhị Đại</a>
                                        <p class="small">Minh Nguyệt Địa Thượng Sương</p>
                                    </td>
                                    <td>
                                        <a href="#">Chương 594: Cốt Thi Vương...</a>
                                        <p class="small">2020-09-23 21:10:01</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">T</a>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">S</a>
                                        </button>
                                        <button type="button" class="btn btn-info btn-circle btn-md m-r-5" data-toggle="tooltip">
                                            <a href="#" target="_blank">X</a>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane " id="waiting">

                    <table class="table table-hover manage-u-table">
                        <thead>
                            <tr>
                                <th>Truyện</th>
                                <th>Chương mới nhất</th>
                                <th>Tình trạng</th>
                                <th width="200">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center" colspan="4"><strong>Không có dữ liệu</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>