
<div class="container">
    <div class="row">
        <div class="col-2 mr-2">
            <div class="list-group-item list-unstyled w-100 mt-2">
                <button type="button" class="btn btn-secondary d-block w-100">
                    <i class="fas fa-align-justify"></i> Chương
                </button>

                <button type="button" class="btn btn-secondary d-block mt-1  w-100">
                    <i class="fas fa-cog"></i>Cài Đặt
                </button>

                <button type="button" class="btn btn-secondary d-block mt-1 w-100">
                    <i class="fas fa-book"></i> Truyện
                </button>
                <button type="button" class="btn btn-secondary d-block mt-1 w-100">
                    Hướng Dẫn
                </button>
            </div>
        </div>

        <div class="col-9">
            <div class="mt-3">
                <div class="d-flex align-items-center mb-4">
                    <a class="d-flex align-items-center h6 mb-0 rounded-3 py-2 px-4 ">
                        <i class="fas fa-arrow-left"></i></i>Chương trước
                    </a>
                    <a class="d-flex align-items-center h6 mb-0 ml-auto rounded-3 py-2 px-4 ">
                        Chương sau
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>


                <div class="h1 mb-4 font-weight-normal">
                    Chương 1325: Tịch Diệt Ma Tượng
                </div>

                <div>
                    <ul class="list-unstyled d-flex align-items-center flex-wrap">

                        <li class="d-flex align-items-center mr-4 mb-1">
                            <i class="fas fa-address-book"></i>
                            <a href="#">Đạo Giới Thiên Hạ</a>
                        </li>
                        <li class="d-flex align-items-center mr-4 mb-1">
                            <i class="fas fa-address-book"></i>
                            <a href="#">Tác Giả</a>
                        </li>
                        <li class="d-flex align-items-center mr-4 mb-1">
                            <i class="fas fa-address-book"></i>
                            1948 chữ
                        </li>
                        <li class="d-flex align-items-center mr-4 mb-1">
                            <i class="fas fa-address-book"></i>
                            0 cảm xúc
                        </li>
                        <li class="d-flex align-items-center mr-4 mb-1">
                            <i class="fas fa-address-book"></i>
                            2020-09-18 23:00:11
                        </li>
                    </ul>
                </div>

                <div>
                    <p>
                        <h5>
                            Đêm trước ngày đưa con đến trường, người mẹ không ngủ. Ngắm nhìn con ngủ say, lòng người mẹ bồi hồi xúc động: nhớ lại những hành động của con ban ngày, nhớ về tuổi với những kỉ niệm sâu sắc trong ngày khai giảng đầu
                            tiên... Lo cho tương lai của con,
                            người mẹ liên tưởng đến ngày khai trường ở Nhật - một ngày lễ thực sự của toàn xã hội - nơi mà ai cũng thể hiện sự quan tâm sâu sắc đến thế hệ tương lai, rồi mẹ lại tưởng tượng giây phút dắt con vào thế giới diệu kì.
                            Đó cũng là tình cảm, niềm tin và
                            khát vọng của người mẹ đối với tương lai của đứa con.
                        </h5>
                    </p>
                    <br>
                    <p>
                        <h5>
                            Đêm trước ngày đưa con đến trường, người mẹ không ngủ. Ngắm nhìn con ngủ say, lòng người mẹ bồi hồi xúc động: nhớ lại những hành động của con ban ngày, nhớ về tuổi với những kỉ niệm sâu sắc trong ngày khai giảng đầu
                            tiên... Lo cho tương lai của con,
                            người mẹ liên tưởng đến ngày khai trường ở Nhật - một ngày lễ thực sự của toàn xã hội - nơi mà ai cũng thể hiện sự quan tâm sâu sắc đến thế hệ tương lai, rồi mẹ lại tưởng tượng giây phút dắt con vào thế giới diệu kì.
                            Đó cũng là tình cảm, niềm tin và
                            khát vọng của người mẹ đối với tương lai của đứa con.
                        </h5>
                    </p>
                    <br>
                    <p>
                        <h5>
                            Đêm trước ngày đưa con đến trường, người mẹ không ngủ. Ngắm nhìn con ngủ say, lòng người mẹ bồi hồi xúc động: nhớ lại những hành động của con ban ngày, nhớ về tuổi với những kỉ niệm sâu sắc trong ngày khai giảng đầu
                            tiên... Lo cho tương lai của con,
                            người mẹ liên tưởng đến ngày khai trường ở Nhật - một ngày lễ thực sự của toàn xã hội - nơi mà ai cũng thể hiện sự quan tâm sâu sắc đến thế hệ tương lai, rồi mẹ lại tưởng tượng giây phút dắt con vào thế giới diệu kì.
                            Đó cũng là tình cảm, niềm tin và
                            khát vọng của người mẹ đối với tương lai của đứa con.
                        </h5>
                    </p>

                </div>

                <div class="d-flex justify-content-center mt-5">
                    <button class="btn rounded-3 text-center px-3 mx-3 d-flex align-items-center ">
                        <i class="fas fa-address-book"></i>
                        <span>
                            Đánh giá
                        </span>
                    </button>
                    <button class="btn rounded-3 text-center px-3 mx-3 d-flex align-items-center">
                        <i class="fas fa-address-book"></i> <span>Đề cử</span>
                    </button>
                    <button data-toggle="modal" class="btn rounded-3 text-center px-3 mx-3 d-flex align-items-center">
                        <i class="fas fa-address-book"></i> <span>Tặng quà</span>
                    </button>
                </div>
            </div>
            <div>

            </div>
            <div class="mt-3">
                <div class="d-flex align-items-center mb-4">
                    <a class="d-flex align-items-center h6 mb-0 rounded-3 py-2 px-4 ">
                        <i class="fas fa-arrow-left"></i></i>Chương trước
                    </a>

                    <a class="d-flex align-items-center h6 mb-0 ml-auto rounded-3 py-2 px-4 ">
                        Chương sau
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div>
                <div class="d-flex">
                    <h4>34 bình luận</h4>
                    <select class="custom-select w-auto ml-auto">
                        <option>
                            Lượt thích
                        </option>
                        <option>
                            Mới nhất
                        </option>
                        <option>
                            Cũ nhất
                        </option>
                    </select>
                </div>

                <div class="comment-form media align-items-center mt-3">
                    <div class="mr-3">
                        <img src="https://static.cdnno.com/user/c79de127d8c211a21898811f1e74d3f5/50.jpg?t=1590805499">
                    </div>
                    <div class="media-body comment-input-block">
                        <textarea placeholder="Bình luận của bạn" class="form-control bg-light">
                                </textarea>
                    </div>
                    <button class="btn btn-submit bg-transparent text-primary d-flex align-items-center justify-content-center shadow-none px-2">
                        <i class="fas fa-share-square"></i>
                    </button>
                </div>

                <hr>

                <div>
                    <div>
                        <div class="mr-3 d-flex">
                            <img src="https://static.cdnno.com/user/c79de127d8c211a21898811f1e74d3f5/50.jpg?t=1590805499">
                            <p class="ml-5">
                                Bộ này cảm giác lấy cảm hứng từ ngã dục phong thiên của lão nhĩ. Nên cảm giác đọc đâu đó
                            </p>

                        </div>
                        <div class="d-flex mt-3">
                            <div class="mr-auto font-weight-semibold"></div>
                            <button class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3 mr-2">
                                <i class="nh-icon icon-like mr-2"></i>0 Like
                            </button>
                            <button class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3 mr-2">
                                <i class="nh-icon icon-reply mr-2"></i>
                                Trả lời
                            </button>
                            <button data-toggle="modal" class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3">
                                <i class="nh-icon icon-flag mr-2"></i>
                                Báo xấu
                            </button>
                            <!---->
                        </div>
                        <hr>
                    </div>
                    <div>
                        <div class="mr-3 d-flex">
                            <img src="https://static.cdnno.com/user/c79de127d8c211a21898811f1e74d3f5/50.jpg?t=1590805499">
                            <p class="ml-5">
                                Bộ này cảm giác lấy cảm hứng từ ngã dục phong thiên của lão nhĩ. Nên cảm giác đọc đâu đó
                            </p>

                        </div>
                        <div class="d-flex mt-3">
                            <div class="mr-auto font-weight-semibold"></div>
                            <button class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3 mr-2">
                                <i class="nh-icon icon-like mr-2"></i>0 Like
                            </button>
                            <button class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3 mr-2">
                                <i class="nh-icon icon-reply mr-2"></i>
                                Trả lời
                            </button>
                            <button data-toggle="modal" class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3">
                                <i class="nh-icon icon-flag mr-2"></i>
                                Báo xấu
                            </button>
                            <!---->
                        </div>
                        <hr>
                    </div>
                    <div>
                        <div class="mr-3 d-flex">
                            <img src="https://static.cdnno.com/user/c79de127d8c211a21898811f1e74d3f5/50.jpg?t=1590805499">
                            <p class="ml-5">
                                Bộ này cảm giác lấy cảm hứng từ ngã dục phong thiên của lão nhĩ. Nên cảm giác đọc đâu đó
                            </p>

                        </div>
                        <div class="d-flex mt-3">
                            <div class="mr-auto font-weight-semibold"></div>
                            <button class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3 mr-2">
                                <i class="nh-icon icon-like mr-2"></i>0 Like
                            </button>
                            <button class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3 mr-2">
                                <i class="nh-icon icon-reply mr-2"></i>
                                Trả lời
                            </button>
                            <button data-toggle="modal" class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3">
                                <i class="nh-icon icon-flag mr-2"></i>
                                Báo xấu
                            </button>
                            <!---->
                        </div>
                        <hr>
                    </div>
                    <div>
                        <div class="mr-3 d-flex">
                            <img src="https://static.cdnno.com/user/c79de127d8c211a21898811f1e74d3f5/50.jpg?t=1590805499">
                            <p class="ml-5">
                                Bộ này cảm giác lấy cảm hứng từ ngã dục phong thiên của lão nhĩ. Nên cảm giác đọc đâu đó
                            </p>

                        </div>
                        <div class="d-flex mt-3">
                            <div class="mr-auto font-weight-semibold"></div>
                            <button class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3 mr-2">
                                <i class="nh-icon icon-like mr-2"></i>0 Like
                            </button>
                            <button class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3 mr-2">
                                <i class="nh-icon icon-reply mr-2"></i>
                                Trả lời
                            </button>
                            <button data-toggle="modal" class="btn btn-sm btn-white fz-body text-tertiary rounded-3 d-flex align-items-center px-3">
                                <i class="nh-icon icon-flag mr-2"></i>
                                Báo xấu
                            </button>
                            <!---->
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
    </div>