<div id="main-category">
    <div class="container">
        <div class="main-content-category">
            <div class="row">
                <div class="col-xl-4 col-sm-12">
                    <aside>
                        <div class="border-bottom">
                            <div class="font-weight-semibold mb-2">Đã chọn</div>
                        </div>

                        <div>
                            <div class="mt-2 mb-2">Thể loại</div>
                            <ul class="list-unstyled">
                                <button type="button" class="btn btn-outline-secondary m-1">Toàn Bộ</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Huyễn Huyễn</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Võng Du</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Tiên Hiệp</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Kiếm Hiệp</button>
                            </ul>
                        </div>



                        <div>
                            <div class="mt-2 mb-2">Tình Trạng</div>
                            <ul class="list-unstyled">
                                <button type="button" class="btn btn-outline-secondary m-1">Toàn Bộ</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Đang Ra</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Hoàn Thành</button>
                            </ul>
                        </div>

                        <hr>

                        <div>
                            <div class="mt-2 mb-2">Thuộc Tính</div>
                            <ul class="list-unstyled">
                                <button type="button" class="btn btn-outline-secondary m-1">Toàn Bộ</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Chọn Lọc</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Chất Lượng Cao</button>
                            </ul>
                        </div>

                        <hr>

                        <div>
                            <div class="mt-2 mb-2">Bối Cảnh Thế Giới</div>
                            <ul class="list-unstyled">
                                <button type="button" class="btn btn-outline-secondary m-1">Toàn Bộ</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Đông Phương</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Tây Phương</button>
                                <button type="button" class="btn btn-outline-secondary m-1">Đông Tây</button>
                            </ul>
                        </div>


                    </aside>

                </div>

                <div class="col-xl-8 col-sm-12">
                    <ul class="list-unstyled d-flex">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mới Cập Nhật
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Mới cập nhật</a>
                                <a class="dropdown-item" href="#">Mới đăng</a>
                            </div>
                        </div>

                        <div style="margin:auto">
                            Lượt Đọc
                        </div>

                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Điểm Đánh Giá
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Lượt Đánh Giá</a>
                                <a class="dropdown-item" href="#">Điểm Đánh Giá</a>
                            </div>
                        </div>

                        <div style="margin:auto">
                            Yêu Thích
                        </div>

                        <div style="margin:auto">
                            Đề Cử
                        </div>

                        <div style="margin:auto">
                            Số Chương
                        </div>


                    </ul>

                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <section class="picture-search">
                                <img src="https://toplist.vn/images/800px/than-mo-ngo-bien-quan-77519.jpg" alt="truyen" class="shadow" align="left">
                            </section>

                            <section class="content-category">
                                <h4>
                                    <a href="~/Home/Truyen">Đạo Giới Thiên Hạ</a>
                                </h4>
                                <div class="content-search-gt">
                                    Lục Châu tỉnh lại sau giấc ngủ trở thành thế gian cường đại nhất già nhất ma đầu tổ sư gia, còn có chín cái tội ác chồng chất, uy chấn thiên hạ đồ đệ. Đại đồ đệ U Minh giáo giáo chủ thủ hạ ngàn vạn ma chúng,
                                    nhị
                                    đồ đệ
                                    Kiếm Ma một lời không hợp liền
                                    khai sát giới. . .
                                    Không có một thân tu vi, như thế nào dạy dỗ đám này ác đồ?
                                    Đại đồ đệ Vu Chính Hải: "Lão phu cả đời này đánh đâu thắng đó, ngoại trừ sư phụ lão nhân gia ông ta, ai cũng đừng nghĩ cưỡi trên đầu ta."
                                    Thất đồ đệ Tư Vô Nhai: "Sư phụ không chết, chúng ta ăn ngủ không yên a!"
                                </div>

                                <div class="content-category-tg" style="margin-top: 10px;">
                                    <a href="#"><i class="far fa-id-badge"></i>Hồ Hưng</a>
                                    <span class="small px-2 ml-2">
                                        <i class="fas fa-bars"></i>
                                        80 Chương
                                    </span>
                                    <span class="border border-info small px-2 bg-info ml-5">
                                        Huyền Huyễn
                                    </span>
                                </div>
                            </section>
                        </div>

                        <div class="col-lg-6 col-sm-12 mt-2">
                            <section class="picture-search">
                                <img src="https://toplist.vn/images/800px/than-mo-ngo-bien-quan-77519.jpg" alt="truyen" class="shadow" align="left">
                            </section>

                            <section class="content-category">
                                <h4>
                                    <a href="~/Home/Truyen">Đạo Giới Thiên Hạ</a>
                                </h4>
                                <div class="content-search-gt">
                                    Lục Châu tỉnh lại sau giấc ngủ trở thành thế gian cường đại nhất già nhất ma đầu tổ sư gia, còn có chín cái tội ác chồng chất, uy chấn thiên hạ đồ đệ. Đại đồ đệ U Minh giáo giáo chủ thủ hạ ngàn vạn ma chúng,
                                    nhị
                                    đồ đệ
                                    Kiếm Ma một lời không hợp liền
                                    khai sát giới. . .
                                    Không có một thân tu vi, như thế nào dạy dỗ đám này ác đồ?
                                    Đại đồ đệ Vu Chính Hải: "Lão phu cả đời này đánh đâu thắng đó, ngoại trừ sư phụ lão nhân gia ông ta, ai cũng đừng nghĩ cưỡi trên đầu ta."
                                    Thất đồ đệ Tư Vô Nhai: "Sư phụ không chết, chúng ta ăn ngủ không yên a!"
                                </div>

                                <div class="content-category-tg" style="margin-top: 10px;">
                                    <a href="#"><i class="far fa-id-badge"></i>Hồ Hưng</a>
                                    <span class="small px-2 ml-2">
                                        <i class="fas fa-bars"></i>
                                        80 Chương
                                    </span>
                                    <span class="border border-info small px-2 bg-info ml-5">
                                        Huyền Huyễn
                                    </span>
                                </div>
                            </section>
                        </div>

                        <div class="col-lg-6 col-sm-12 mt-2">
                            <section class="picture-search">
                                <img src="https://toplist.vn/images/800px/than-mo-ngo-bien-quan-77519.jpg" alt="truyen" class="shadow" align="left">
                            </section>

                            <section class="content-category">
                                <h4>
                                    <a href="~/Home/Truyen">Đạo Giới Thiên Hạ</a>
                                </h4>
                                <div class="content-search-gt">
                                    Lục Châu tỉnh lại sau giấc ngủ trở thành thế gian cường đại nhất già nhất ma đầu tổ sư gia, còn có chín cái tội ác chồng chất, uy chấn thiên hạ đồ đệ. Đại đồ đệ U Minh giáo giáo chủ thủ hạ ngàn vạn ma chúng,
                                    nhị
                                    đồ đệ
                                    Kiếm Ma một lời không hợp liền
                                    khai sát giới. . .
                                    Không có một thân tu vi, như thế nào dạy dỗ đám này ác đồ?
                                    Đại đồ đệ Vu Chính Hải: "Lão phu cả đời này đánh đâu thắng đó, ngoại trừ sư phụ lão nhân gia ông ta, ai cũng đừng nghĩ cưỡi trên đầu ta."
                                    Thất đồ đệ Tư Vô Nhai: "Sư phụ không chết, chúng ta ăn ngủ không yên a!"
                                </div>

                                <div class="content-category-tg" style="margin-top: 10px;">
                                    <a href="#"><i class="far fa-id-badge"></i>Hồ Hưng</a>
                                    <span class="small px-2 ml-2">
                                        <i class="fas fa-bars"></i>
                                        80 Chương
                                    </span>
                                    <span class="border border-info small px-2 bg-info ml-5">
                                        Huyền Huyễn
                                    </span>
                                </div>
                            </section>
                        </div>

                        <div class="col-lg-6 col-sm-12 mt-2">
                            <section class="picture-search">
                                <img src="https://toplist.vn/images/800px/than-mo-ngo-bien-quan-77519.jpg" alt="truyen" class="shadow" align="left">
                            </section>

                            <section class="content-category">
                                <h4>
                                    <a href="~/Home/Truyen">Đạo Giới Thiên Hạ</a>
                                </h4>
                                <div class="content-search-gt">
                                    Lục Châu tỉnh lại sau giấc ngủ trở thành thế gian cường đại nhất già nhất ma đầu tổ sư gia, còn có chín cái tội ác chồng chất, uy chấn thiên hạ đồ đệ. Đại đồ đệ U Minh giáo giáo chủ thủ hạ ngàn vạn ma chúng,
                                    nhị
                                    đồ đệ
                                    Kiếm Ma một lời không hợp liền
                                    khai sát giới. . .
                                    Không có một thân tu vi, như thế nào dạy dỗ đám này ác đồ?
                                    Đại đồ đệ Vu Chính Hải: "Lão phu cả đời này đánh đâu thắng đó, ngoại trừ sư phụ lão nhân gia ông ta, ai cũng đừng nghĩ cưỡi trên đầu ta."
                                    Thất đồ đệ Tư Vô Nhai: "Sư phụ không chết, chúng ta ăn ngủ không yên a!"
                                </div>

                                <div class="content-category-tg" style="margin-top: 10px;">
                                    <a href="#"><i class="far fa-id-badge"></i>Hồ Hưng</a>
                                    <span class="small px-2 ml-2">
                                        <i class="fas fa-bars"></i>
                                        80 Chương
                                    </span>
                                    <span class="border border-info small px-2 bg-info ml-5">
                                        Huyền Huyễn
                                    </span>
                                </div>
                            </section>
                        </div>

                        <div class="col-lg-6 col-sm-12 mt-2">
                            <section class="picture-search">
                                <img src="https://toplist.vn/images/800px/than-mo-ngo-bien-quan-77519.jpg" alt="truyen" class="shadow" align="left">
                            </section>

                            <section class="content-category">
                                <h4>
                                    <a href="~/Home/Truyen">Đạo Giới Thiên Hạ</a>
                                </h4>
                                <div class="content-search-gt">
                                    Lục Châu tỉnh lại sau giấc ngủ trở thành thế gian cường đại nhất già nhất ma đầu tổ sư gia, còn có chín cái tội ác chồng chất, uy chấn thiên hạ đồ đệ. Đại đồ đệ U Minh giáo giáo chủ thủ hạ ngàn vạn ma chúng,
                                    nhị
                                    đồ đệ
                                    Kiếm Ma một lời không hợp liền
                                    khai sát giới. . .
                                    Không có một thân tu vi, như thế nào dạy dỗ đám này ác đồ?
                                    Đại đồ đệ Vu Chính Hải: "Lão phu cả đời này đánh đâu thắng đó, ngoại trừ sư phụ lão nhân gia ông ta, ai cũng đừng nghĩ cưỡi trên đầu ta."
                                    Thất đồ đệ Tư Vô Nhai: "Sư phụ không chết, chúng ta ăn ngủ không yên a!"
                                </div>

                                <div class="content-category-tg" style="margin-top: 10px;">
                                    <a href="#"><i class="far fa-id-badge"></i>Hồ Hưng</a>
                                    <span class="small px-2 ml-2">
                                        <i class="fas fa-bars"></i>
                                        80 Chương
                                    </span>
                                    <span class="border border-info small px-2 bg-info ml-5">
                                        Huyền Huyễn
                                    </span>
                                </div>
                            </section>
                        </div>

                        <div class="col-lg-6 col-sm-12 mt-2">
                            <section class="picture-search">
                                <img src="https://toplist.vn/images/800px/than-mo-ngo-bien-quan-77519.jpg" alt="truyen" class="shadow" align="left">
                            </section>

                            <section class="content-category">
                                <h4>
                                    <a href="~/Home/Truyen">Đạo Giới Thiên Hạ</a>
                                </h4>
                                <div class="content-search-gt">
                                    Lục Châu tỉnh lại sau giấc ngủ trở thành thế gian cường đại nhất già nhất ma đầu tổ sư gia, còn có chín cái tội ác chồng chất, uy chấn thiên hạ đồ đệ. Đại đồ đệ U Minh giáo giáo chủ thủ hạ ngàn vạn ma chúng,
                                    nhị
                                    đồ đệ
                                    Kiếm Ma một lời không hợp liền
                                    khai sát giới. . .
                                    Không có một thân tu vi, như thế nào dạy dỗ đám này ác đồ?
                                    Đại đồ đệ Vu Chính Hải: "Lão phu cả đời này đánh đâu thắng đó, ngoại trừ sư phụ lão nhân gia ông ta, ai cũng đừng nghĩ cưỡi trên đầu ta."
                                    Thất đồ đệ Tư Vô Nhai: "Sư phụ không chết, chúng ta ăn ngủ không yên a!"
                                </div>

                                <div class="content-category-tg" style="margin-top: 10px;">
                                    <a href="#"><i class="far fa-id-badge"></i>Hồ Hưng</a>
                                    <span class="small px-2 ml-2">
                                        <i class="fas fa-bars"></i>
                                        80 Chương
                                    </span>
                                    <span class="border border-info small px-2 bg-info ml-5">
                                        Huyền Huyễn
                                    </span>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>

            <div id="pagination">
                <nav aria-label="Page navigation example" style="margin: 50px 90px 10px 0px">
                    <ul class="pagination col-sm-12 col-xl-12ø">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Trước</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Sau</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>